.loginFormInput {
  background-color: #1b1b1b;
  border-color: #947a1e;
  height: 50px;
}

.loginButton {
  background: #947a1e;
  height: 50px;
  color: white;
  margin-top: 5px;
}

.adminLoginFormInputHeader {
  color: #e0b724;
  font-size: 14px;
  font-weight: 700;
}

.authSelectorBg {
  padding-top: 25px;
  padding-bottom: 25px;
  background: #1b1b1b;
  border: 1px solid #947a1e !important;
}

.authSelectorBgSelected {
  padding-top: 25px;
  padding-bottom: 25px;
  border: 5px solid #947a1e !important;
}
