.buildingCard {
  background: #1B1B1B !important;
  min-height: 200px;
}

.buildingCardHeader {
  font-size: 14px;
}

.buildingCardText {
  font-size: 12px;
}

.buildingAmount {
  background: #624f0b;
  font-size: 12px;
}

.cardsBottonBorder {
  border-bottom: 2px solid #ffffff !important;
}

.ant-spin-dot-item {
  background-color: orange !important;
}

.viewUnitsBtn {
  background-color: #947a1e;
}

.deleteBuildingsBtn {
  background-color: #b4463f;
}

.editBuildingBtn {
  background-color: #89c664;
}
